


<div id="fullpage">


{{#each model as |page|}}



<div class="section" sectionColor="{{htmlfix page.acf.page_background_color}}">

    <div class="slide" id="slide-{{htmlfix page.slug}}">
        <div class="jumbotron bg-white shadow" id="card_{{htmlfix page.slug}}">
          <div class= "d-flex justify-content-center">
            <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#{{htmlfix page.slug}} "role="button" aria-expanded="false" aria-controls="{{htmlfix page.slug}}">
              <h1 class="display-1">{{htmlfix page.title}}</h1>
            </button>

          </div>
            <span class="lead collapse fade" id="{{htmlfix page.slug}}">{{htmlfix page.content}}</span>
        </div>
    </div>
</div>



{{/each}}

</div>
{{outlet}}
